
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
     height: 100%;
     width: 100%;
}
html{
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 15px 0;
    position: fixed;
    background-color: white;
    width: 100%;
    margin: 0 auto;
}

/* Button Styling */
.nav-btn {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-btn:hover {
    background-color: red;
}



.header {
    background-color: #fae6d1;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

/* Services Section Styling */
.services {
    background-color: #f9f871;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}
.team{
    background-color: red;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}
.about{
    background-color: #74405f;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;

}
.reviews{
    background-color: #34cead;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}
.projects{
    background-color: #8da524;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

.Plans{
    background-color: #d9147d;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

.abc{
    background-color: #d9147d;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}